/* General styles */
:root {
    /**
    * We use Catppuccin Frappe and Catppuccin Latte for dark and light mode theming in the editor
    * The specific color values used are retrieved from https://catppuccin.com/palette/
    */

    /* Light theme -- Catppuccin Latte */

    /* --green: #40a02b; */
    --green: #388E3C;
    --blue: #1e66f5;

    /* Text, borders */
    --text: #4c4f69;

    --subtext-1: #5c5f77;
    --subtext-0: #6c6f85;
    --overlay-0: #9ca0b0;
    --surface-0: #ccd0da;

    /* Modal background */
    --base: #eff1f5;

    /* In-between */
    --mantle: #e6e9ef;

    /* Overall background color */
    --crust: #dce0e8;

    /* Dark variants -- Catppuccin Frappe */
    /* --green-dark: #a6d189; */
    --green-dark: #388E3C;
    --blue-dark: #8caaee;
    --text-dark: #c6d0f5;
    --base-dark: #303446;
    --overlay-0-dark: #737994;
    --mantle-dark: #292c3c;
    --crust-dark: #232634;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow-y: hidden;

    color: var(--text);
    background-color: var(--crust);
}

body.dark-theme {
    color: var(--text-dark);
    background-color: var(--crust-dark);
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    font-size: large;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: var(--blue);
}

.dark-theme a {
    color: var(--blue-dark);
}

#top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1ch;
    color: var(--base);
    background-color: var(--green);
}

.dark-theme #top-bar {
    color: var(--base-dark);
    background-color: var(--green-dark);
}

#top-bar button {
    margin-left: 1ch;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

main {
    height: 100%;
}

#chat {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90vh;
}

#chat-container {
    overflow: auto;
}

.chat-message {
    margin: 1rem 1ch;
}

.chat-message:first-of-type {
    margin-top: 0;
}

.chat-message-author {
    font-weight: bold;
}

.chat-message-content {
    background-color: var(--base);
    border-radius: 8px;
    margin: 1rem 1ch;
    padding: 1rem 1ch;
}

.dark-theme .chat-message-content {
    background-color: var(--base-dark);
}

.enter-message {
    margin: 1rem 2ch;
    border-top: 1px solid var(--text);
    padding-top: 1rem;
}

.dark-theme .enter-message {
    border-top-color: var(--text-dark);
}

.enter-message-textarea {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 16px 0;
    margin-bottom: 1rem;
    resize: none;
    font-family: sans-serif;
    color: var(--text);
    background-color: var(--base);
}

.dark-theme .enter-message-textarea {
    color: var(--text-dark);
    background-color: var(--base-dark);
}

label {
    margin-top: 1em;
}

input[type=text] {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0ch;
    color: var(--text);
    background-color: var(--base);
}

.dark-theme input[type=text] {
    color: var(--text-dark);
    background-color: var(--base-dark);
}

input#api-key-input {
    text-align: center;
    font-size: large;
}

button {
    border: 0;
    padding: 0.5rem 1ch;
    min-width: 16ch;
    border-radius: 8px;
    color: var(--text);
    background-color: var(--base);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

button:active {
}

.dark-theme button {
    color: var(--text-dark);
    background-color: var(--base-dark);
}

.spacer {
    flex-grow: 1;
}

#program {
    width: 70%;
    margin-right: 1ch;
    display: flex;
    flex-direction: column;
}

#editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 70vh;
    margin-right: 1ch;
    flex-grow: 1;
}

#terminal {
    width: 100%;
    margin-top: 1rem;
    font-family: monospace;
    flex-grow: 1;
}

span.terminal-title {
    font-family: sans-serif;
    padding: 1ch;
    color: var(--text);
}

.dark-theme span.terminal-title {
    color: var(--text-dark);
}

#terminal {
    background-color: var(--base);
    height: 200px;
    overflow-y: auto;
    margin-bottom: 1em;
}

.dark-theme #terminal {
    background-color: var(--base-dark);
}

.slider {
    border-radius: 8px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.modal-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--mantle);
    border-radius: 8px;
    padding: 2em 4ch;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark-theme .modal-content {
    background-color: var(--mantle-dark);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--green);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}