<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src="/static/js/script.js"></script>
    <script defer src="/static/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.js"></script>
    <title>Empathic IDE</title>
</head>

<body>
    <main class="flex-col">
        <hgroup id="top-bar">
            <h1>Empathic IDE</h1>
            <div class="spacer"></div>
            <button id="toggle-theme">Toggle Theme</button>
            <button id="open">Open</button>
            <button id="save">Save</button>
            <button id="compile">Compile</button>
            <button id="run">Run</button>
        </hgroup>
        <div class="flex-row">
            <div id="chat">
                <div id="chat-container">
                    <div class="chat-message">
                        <div class="chat-message-author">Bot</div>
                        <div class="chat-message-content">
                            Hello! I am Empathicide, your helpful CCPROG1 tutoring bot.
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="enter-message">
                    <textarea class="enter-message-textarea" id="message-textarea"></textarea>
                    <button id="send">Send</button>
                    <button id="open-api-key-modal">API Key</button>
                </div>
            </div>
            <div id="program">
                <div id="editor">
                </div>
                <div id="terminal">
                    <span class="terminal-title">TERMINAL</span>
                    <pre id="terminal-content"></pre>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div id="modal-gemini-api-key" class="modal">
        <div class="modal-content">
            <h2>Set API Key</h2>
            <p>
                Please visit
                <a href="https://aistudio.google.com/app/api-keys" target="_blank">Google AI Studio</a>
                to create a Gemini API Key, then paste it in this text box:
            </p>
            <label for="api-key">API Key</label>
            <input type="text" id="api-key-input" name="api-key">
            <button id="close-api-key-modal">Cancel</button>
            <button id="set-api-key">Set API Key</button>
            <p>You may need to create a new project first.</p>
            <p>Any name can work for the project and the key -- "Empathic IDE" would work best, though!</p>
        </div>
    </div>
    <template id="template-chat-message">
        <div class="chat-message">
            <div class="chat-message-author">author</div>
            <div class="chat-message-content">text</div>
        </div>
    </template>
</body>

</html>