<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.js"></script>
    <script defer src="/static/js/script.js"></script>
    <script defer src="/static/js/theme.js"></script>
    <title>Ceci: Caring Empathic C IDE</title>
</head>

<body>
    <main class="flex-col">
        <hgroup id="top-bar">
            <h1>Ceci</h1>
            <div class="spacer"></div>
            <button id="toggle-theme">Toggle Theme</button>
            <button id="open">Open</button>
            <button id="save">Save</button>
            <button id="run">
                <span class="button-text">Compile and Run</span>
                <span class="spinner"></span>
            </button>
            <button id="clear-console">Clear Console</button>
        </hgroup>
        <div class="flex-row">
            <div id="chat">
                <div id="chat-container">
                </div>
                <div class="spacer" id="typing-indicator">
                </div>
                <div class="enter-message">
                    <textarea class="enter-message-textarea" id="message-textarea"></textarea>
                    <button id="send">Send</button>
                    <button id="open-api-key-modal">API Key</button>
                    <button id="open-name-modal">Name</button>
                </div>
            </div>
            <div id="program">
                <div id="editor">
                </div>
                <div id="terminal">
                    <pre id="terminal-content"></pre>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div id="modal-gemini-api-key" class="modal">
        <div class="modal-content">
            <h2>Set API Key</h2>
            <p>
                Please visit
                <a href="https://aistudio.google.com/app/api-keys" target="_blank">Google AI Studio</a>
                to create a Gemini API Key, then paste it in this text box:
            </p>
            <label for="api-key">API Key</label>
            <input type="text" id="api-key-input" name="api-key">
            <button id="close-api-key-modal">Cancel</button>
            <button id="set-api-key">Set API Key</button>
            <p>You may need to create a new project first.</p>
            <p>Any name can work for the project and the key -- "Empathic IDE" would work best, though!</p>
        </div>
    </div>
    <div id="modal-input-name" class="modal">
        <div class="modal-content">
            <h2>Enter your name</h2>
            <p>Name</p>
            <input type="text" name="name" id="name">
            <button id="close-name-modal">Done</button>
        </div>
    </div>
    <template id="template-chat-message">
        <div class="chat-message">
            <div class="chat-message-author">author</div>
            <div class="chat-message-content">text</div>
        </div>
    </template>
</body>

</html>